.wrapper {
  border: 2px dashed rgba(56, 196, 194, 1);
  border-radius: 4px;
  width: 735px;
  padding: 45px 0 0;
  box-sizing: border-box;
  .content {
    padding: 0 55px;
    box-shadow: 0px 4px 6px -4px rgba(186, 186, 186, 0.5);
  }
  .title {
    font-family: 'Lato';
    font-size: 24px;
    font-weight: bold;
    color: rgba(6, 181, 179, 1);
    border-bottom: 1px solid rgba(139, 143, 146, 0.5);
    margin: 0;
    margin: 0 55px;
    padding-bottom: 10px;
  }
  .group {
    flex: 1;
    display: flex;
    flex-flow: column;
  }
  .col2 {
    &:first-child {
      padding-top: 44px;
    }
    &:last-child {
      padding-bottom: 44px;
    }
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
    .group {
      flex: initial;
      width: 47%;
    }
  }
  .col {
    &:first-child {
      padding-top: 44px;
    }
    padding: 10px 0;
    &:last-child {
      padding-bottom: 44px;
    }
  }
  label {
    font-family: 'Lato';
    font-size: 14px;
    font-weight: bold;
    color: rgba(49, 61, 71, 1);
    line-height: 17px;
  }
  .input {
    height: 34px;
    border: 1px solid rgba(198, 203, 212, 1);
    border-radius: 4px;
    outline: none;
    padding-left: 10px;
  }
  .actionpanel {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      cursor: pointer;
      outline: none;
      width: 75px;
      border-radius: 4px;
      background-color: rgba(216, 216, 216, 1);
      height: 32px;
      background-color: white;
      border: 1px solid rgba(216, 216, 216, 1);
      &:last-child {
        background-color: rgba(6, 181, 179, 1);
        color: white;
        border: 1px solid rgba(6, 181, 179, 1);
        margin-left: 5px;
      }
    }
  }
  .period {
    display: flex;
    justify-content: space-between;
    input {
      width: 90px;
    }
    span {
      margin-right: 10px;
    }
  }
  .graduation {
    display: flex;
    input {
      width: 90px;
      margin-right: 50px;
    }
    span {
      margin-right: 10px;
    }
  }
  .addmore {
    display: flex;
    align-items: center;
    cursor: pointer;
    div {
      border-radius: 50%;
      background-color: #06b5b3;
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      margin-right: 5px;
      margin-left: 10px;
      color: white;
    }
  }
}